@using prototype;
@{
    Page.Title = "Today's Popular Wishes";
}

@{ 
    DatabaseAccess db = new DatabaseAccess();
    var wishes = db.GetWishesByVotes(0);

    if (IsPost)
    {
        AntiForgery.Validate();
        if (Validation.IsValid())
        {
            var id = Request["id"];
            var status = Request["status"];
            var votes = Request["votes"];
            if (id != null)
            {
                db.AddVote(DateTime.Now, User.Identity.Name, int.Parse(id));
                db.UpdateWish(status, int.Parse(votes) + 1, int.Parse(id));
            }
        }
    }
    wishes = db.GetWishesByVotes(0);
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="wishes">
    @if (!User.Identity.IsAuthenticated)
    {
        <p>Please <a href="~/Account/Login">login or register</a> to vote!</p>
    }
    <table>
            <tr><th>Date</th><th>Description</th><th>Votes</th></tr>
            @foreach (var wish in wishes)
            {
                <tr>
                    <td>@wish.Date</td>
                    <td>@wish.Description</td>
                    <td>@wish.Votes</td>
                    <td>
                        @if (db.HasVoted(User.Identity.Name, wish.Id))
                        {
                            <p>You voted for this wish.</p>
                        }
                        else
                        {
                            if (User.Identity.IsAuthenticated)
                            {
                                <form action="~/TodaysPopularWishes" method="post">
                                    @AntiForgery.GetHtml()
                                    <input type="hidden" name="id" value="@wish.Id" />
                                    <input type="hidden" name="status" value="@wish.Status" />
                                    <input type="hidden" name="votes" value="@wish.Votes" />
                                    <input type="submit" value="Vote">
                                </form>
                            }
                        }
                    </td>
                </tr>
            }
        </table>

</section>