@{
    Page.Title = "Your Wishes";
}

@{ 
    Wish w = new Wish("1", 1, "1", 1);
    Wish[] wishes =
                    {
                        new Wish("10/1/16", 8739, "Wish 1", 0),
                        new Wish("10/3/16", 3059, "Wish 2", 1), 
                        new Wish("10/4/16", 9001, "Wish 3", 2)
                    };
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="manage">
    <p>
        This page will allow the user to submit and manage their<br />
        own wishes when they are logged in. This page will eventually<br />
        redirect to the login page if the user is not logged in.
    </p>
</section>

<section class="manage">
    <h3>Your Wishes</h3>
    <p>
        <table>
            <tr><th>Date</th><th>ID</th><th>Content</th><th>Status</th></tr>
            @{
                int i = 0;
                while (i < wishes.Length)
                {
                    string wishStatus;
                    if(wishes[i].Status == 0)
                    {
                        wishStatus = "Pending Approval";
                    }
                    else if(wishes[i].Status == 1)
                    {
                        wishStatus = "Approved";
                    }
                    else
                    {
                        wishStatus = "Denied";
                    }
                    <tr>
                        <td>@wishes[i].Date</td>
                        <td>@wishes[i].Id</td>
                        <td>@wishes[i].Description</td>
                        <td>@wishStatus</td>
                        <td><input type="button" value="Delete"></td>
                    </tr>

                    i++;
                }
            }
        </table>
    </p>
</section>

<section class="submit">
    <h3>Submit a New Wish</h3>
    <form action="~/NewWish" method="post">
        <p>
            <label for="category">Wish Category:</label><br />
            <input type="radio" name="category" value="For me" checked/>For me<br />
            <input type="radio" name="category" value="For others" />For others
        </p>
        <p>
            <label for="description">Describe your wish:</label>
            <input type="text" name="description" required/>
        </p>
        <p>
            <label for="contact">Notify me of wish approval via:</label>
            <select name="notify">
                <option value="Phone">Phone</option>
                <option value="Email">E-mail</option>
                <option value="Twitter">Twitter</option>
                <option value="None">Don't notify me</option>
            </select>
        </p>
        <p>
            <input type="submit" value="Submit" />
        </p>

    </form>
</section>
