@using prototype;
@{
    Page.Title = "Your Wishes";
}

@{
    DatabaseAccess db = new DatabaseAccess();

    if (IsPost)
    {
        AntiForgery.Validate();

        if (Validation.IsValid())
        {
            var description = Request["description"];
            var wishId = Request["wishId"];
            if (description != null)
            {
                db.AddWish(new Wish(User.Identity.Name, DateTime.Now, "Pending", 0, description));

                <p>
                    <h3>You successfully submitted a wish!</h3>
                    <h4>Here are the details:</h4>
                    Description: <i>@description<br /></i>

                    Thank you for using TiredGenie!
                </p>
            }
            else if (wishId != null)
            {
                db.DeleteWish(int.Parse(wishId));
                <p>Wish ID # @wishId successfully deleted!</p>
            }
        }
    }

    var wishes = db.GetWishesByUser(User.Identity.Name);
}



<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<section class="manage">
    <p>
        This page will allow the user to submit and manage their<br />
        own wishes when they are logged in. This page will eventually<br />
        redirect to the login page if the user is not logged in.
    </p>
</section>

@if (User.Identity.IsAuthenticated)
{
    <section class="manage">
        <h3>Your Wishes</h3>
            <table>
                <tr><th>Date</th><th>ID</th><th>Content</th><th>Status</th></tr>

                @foreach (var wish in wishes)
                {
                    <tr>
                        <td>@wish.Date</td>
                        <td>@wish.Id</td>
                        <td>@wish.Description</td>
                        <td>@wish.Status</td>
                        <td>
                            <form action="~/YourWishes" method="post">
                                @AntiForgery.GetHtml()
                                <input type="hidden" name="wishId" value="@wish.Id" />
                                <input type="submit" value="Delete">
                            </form>
                        </td>
                    </tr>
                }
            </table>
    </section>

    <section class="submit">
        <h3>Submit a New Wish</h3>
        <form action="~/YourWishes" method="post">
            @AntiForgery.GetHtml()
            <p>
                <label for="description">Describe your wish:</label>
                <input type="text" name="description" required/>
            </p>
            <p>
                <input type="submit" value="Submit" />
            </p>

        </form>
    </section>
}
else
{
    <p>Please <a href="~/Account/Login">login or register</a> to access your wishes!</p>
}
